/*Có 3 cách để áp thuộc tính CSS cho HTML
- Cách 1 - Inline: Viết trực tiếp vào thẻ HTML thông qua attribute style
- Cách 2 - Internal: Viết CSS vào trong thẻ <style>...<style>
- Cách 3 - External: Viết CSS vào file.css
    selector{
        property: value;
        property: value2;
    }
*/

/*  *{              Tất cả đều đổi màu giống nhau
    background-color: black;
    color: red;
}*/

/* div{             Chỉ những thẻ div đổi màu
    background-color: blue;
}*/

/* div,p{           Thẻ div,p đổi màu
    background-color: blue;
}*/

/* div p span{      thuộc tính p(con) nằm trong div(cha) đổi màu
    background-color: blue;
}*/

p {
    color: darkslategray;
}

/*-----------------Selector chọn theo class----------------- */
.le{
    background-color: aqua; color: black;
}
.chan{
    background-color: violet; color: black;
}

/*-----------------Selector chọn theo ID----------------- */
#para3{
    background-color: brown; color: white;
}

/*-----------------------Phông chữ----------------------- */
.font{
    font-family: sans-serif, Lucida Sans, Arial;
    font-size: 16px;
    font-style: italic;                             /*kiểu phông chữ*/
    font-weight: 400;                               /*độ dày phông chữ*/
    text-decoration: dotted underline;              /*trang trí văn bản*/
}

/*-----------------------Định dạng về viền/lề----------------------- */
.d{
    border-style: solid;                          /*kiểu viền*/
    border-width: 2px;                            /*chiều rộng viền*/
    border-color: teal;
    border-radius: 20px;                          /*bán kính đường viền*/
    padding: 10px;                                /*khoảng cách content với viền*/
    border-top-color: tomato;
    border-right-color:springgreen;
    border-left-width: 10px;

    text-align: center;
    width: 450px;
}

/*-----------------------Định dạng về background----------------------- */
body{
    background-color: antiquewhite;
    /*background-image: url(../Images/Rái\ cá\ 0.jpg);      Lấy ảnh làm hình nền
    background-attachment: fixed;                           
    background-position: center;                            Căn cho ảnh ở giữa
    background-size: cover;                                 Làm đầy ảnh (ko bị trống 2 bên)*/
}

.b{
    background: linear-gradient(lightpink, skyblue);
    background-repeat: no-repeat;
    /*background: linear-gradient(to left, antiquewhite, skyblue);
        background-attachment: fixed;*/
}

/*-----------------------Dùng Margin và Padding----------------------- */
#box1{
    width: 100px;
    height: 100px;
    border-style: solid;
    background-color: lightgreen;
}

#box2{
    width: 200px;
    height: 200px;
    border-style: solid;
    background-color: steelblue;
    margin-top: 10px;
    padding: 10px
}

/*----------------------Thuộc tính Position gồm 5 cái giá trị---------------------- */
/*
    >> static: mặc định
    >> relative: đi kèm theo các thuộc tính khác (top, bottom, right, left)
        Ví dụ trong Box01, nó như 1 nhân vật, nó di chuyển tự do. 
        Bởi vì nó nằm bên dưới thẻ p và cũng nằm trên 1 thẻ p khác, phạm vi nó di chuyển
        chỉ ở trong khoảng đó, không thể lấn sang các thẻ.
    >> absolute: đi kèm theo các thuộc tính khác (top, bottom, right, left)
        Vị trí Absolute sẽ đi so với phần tử cha gần nhất của nó (phần tử cha của nó trong bài là <body>)
    >> fixed: đi kèm theo các thuộc tính khác (top, bottom, right, left)
        Ví dụ nó hiển thị ra 1 ô vuông nhỏ, khi người dùng kéo lên xuống trang,
        ô vuông nhỏ đó vẫn giữ nguyên ở trên màn hình mà không bị trôi đi
    >> sticky: sự kết hợp giữa relative và fixed [đi kèm theo các thuộc tính khác (top, bottom, right, left)]
*/
#box01{
    border: 1px solid black;
    width: 100px;
    height: 100px;
    background-color: yellow;
    position: relative;
}

#box02{
    border: 1px solid black;
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    position: relative;
    left: 600px;
}

/*------------------------------Dùng Shadow: Độ bóng------------------------------ */
#shadow{
    text-shadow: -5px 5px 5px lightgreen;
    /*C2: text-shadow: -5px 5px 5px lightgreen, 5px 5px 5px lightpink;*/
    box-shadow: 10px 10px 5px lightskyblue;   /*Ko gian của cả element*/
}

/*---------------------------------Dùng Transform--------------------------------- */
#BO1{
    border: solid 1px black;
    width: 300px;
    height: 300px;
    background-color: lightseagreen;
    font-size: 50px;
    transform: translateX(40px);
    /*transform: translateY(50px);                  Trục Oy
      transform: translate(40px, 50px);             Trục Ox và Oy
      transform: rotateX(180deg);                   Xoay 180 độ
      transform: rotateY(180deg);
      transform: scaleX(2);                         Phóng to 2 lần
      transform: scaleY(2);
      transform: skewX(45deg);                      Nghiêng trái góc 45 độ
      transform: skewY(45deg);                      Nghiêng phải góc 45 độ
      transform: skew(20deg, 20deg);
      transform: matrix(0, 0, 0, 0, 0, 0 )
      
      matrix gồm:
      - scaleX()
      - skewY()
      - skewX()
      - scaleY()
      - translateX()
      - translateY()*/
}

/*----------------------------Pseudo class: Các lớp giả---------------------------- */
button:hover{           /*Khi di chuột vào thì sẽ đổi màu*/
    background-color: skyblue;
}

button:active{          /*Khi nhấn vào thì sẽ đổi màu*/
    background-color: lightgreen;
}

li:nth-child(3){       /*Có thể thay thế 3 bằng: odd, even, 3n, 3n+1*/
    color:orangered;
}

/*-----------------------------------Responsive----------------------------------- */
/*Là thuật ngữ dùng để chỉ 1 trang Web, nó có thể hiển thị tốt trên các thiết bị khác
nhau, bao gồm: trên màn hình máy tính, trên máy tính bảng, trên đt. 
>> Hiển thị tốt có nghĩa là trang Web đấy không bị vỡ giao diện, mà giao diện đấy tự 
linh hoạt điều chỉnh sao cho phù hợp với từng thiết bị khác nhau. 
>> Linh hoạt điều chỉnh là các thành phần nó có thể thay đổi, co giãn theo từng màn hình khác nhau
>> Breakpoint: phạm vị giới hạn
    320px (breakpoint smartphone)
    768px (breakpoint tablet)
    1024px (breakpoint laptop, PC, TV,...)*/
#resp{
    color:tomato
}

@media all and (max-width: 768px){         /*Đối với tất cả màn hình và cái màn hình có độ rộng tối đa là...[mình tự nhập]*/
    #resp{
        color: green;
    }
}

@media all and (max-width: 400px){
    #resp{
        color: skyblue;
    }
}